* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    /* height: 5200px; */
}
.navbar {
    height: 10vmin;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;  
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    position : fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.logo-icon img {
    height: 6vmin;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50vmin;  

}
.logo-name {
    font-weight:bolder;
    font-size: 2rem;
}
.logo-name:hover {
    font-weight:bolder;
    font-size: 2rem;
    color: #fc8c05;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}
.nav-list ul {
    display: flex;
    list-style-type: none;  
}
.nav-list ul li {
    margin: 1rem;
    /* font-size: 1.5rem; */
}
.nav-list ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}
.nav-list ul li a:hover { 
    font-size: 1.5rem;
    color: rgb(0, 0, 255);
    text-decoration: wavy; 
}