* {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
}
.navbar {
    height: 5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;  
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    position : fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.logo-icon img {
    height: 6vmin;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50vmin;  

}
.logo-name {
    font-weight:bolder;
    font-size: 2rem;
}
.logo-name:hover {
    font-weight:bolder;
    font-size: 2rem;
    color: #fc8c05;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}
.nav-list ul {
    display: flex;
    list-style-type: none;  
}
.nav-list ul li {
    margin: 1rem;
    /* font-size: 1.5rem; */
}
.nav-list ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}
.nav-list ul li a:hover { 
    font-size: 1.5rem;
    color: rgb(0, 0, 255);
    text-decoration: wavy; 
}

#home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 5rem;
    box-shadow: 0px 0px 3px 0px black;
    background-color: rgb(235, 238, 240);
    padding: 1rem;
}

.details {
    padding-top: 20px;
    padding: 2rem 0rem;
}

.details .intro {
    font-size: 4rem;
    color: #012970;
    font-weight: bolder;
    
}
.line2 {
    display:flex;
    font-size: 4rem;
    color: #fc8c05;
    font-weight: bolder;
}
.line3 {
    font-size: 2.5rem;
    display: flex;
    font-weight: 300; 
}
.skill {
    color : red;
}
.skill:hover {
    font-weight: bolder;
    cursor: pointer;
}
.aboutMe button {
    background-color: #012970;
    padding:  0.2rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 3px 4px  rgba(19, 78, 241, 0.3);
}
.aboutMe button a {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
.aboutMe button:hover {
    background-color: #1458cb;
}
#home .image img {
    border: 2px solid black;
    border-radius: 510px;
    height: 30rem;
}
#About {
    box-shadow: 0px 0px 8px 0px black;
}

#About header {
    display: flex;
    justify-content: center;
    align-items: center;

}
header .icon img{
    height: 4rem;
    padding-right: 1rem;
}
header .about {
    margin: 2rem 0rem;
    font-size: 2.5rem;
    font-weight: bolder;
}
header .about span {
    color: #7303a7;
}
#About .details {
    display: flex;
    justify-content: center;
}
#About .details img {
    height: 35rem;
    border-radius: 3rem;
    margin-right: 3rem;
    box-shadow: 1px 2px 3px 3px black;
}
#About .description {
    width: 30rem;
}
#About .description h1 {
    font-size: 3.5rem;
}
#About .description .skills {
    font-size: 2rem;
    color: #7303a7;
    
}
#About .aboutMe {
    font-size: 1.3rem;
}
#About .email span{
    font-weight: bolder;
    color: #7303a7;
    font-size: 1.1rem;
}
#About .email {
    font-size: 1rem;
}
#About .description .resume button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    background-color: #1458cb;
    box-shadow: 1px 2px 3px 3px black;
    font-size: 2rem;
}
#About .description .resume button a {
    text-decoration: none;
    color: white;
}
#About .description .resume button:hover {
    text-decoration: none;
    color: white;
    background-color: #012970;
    font-size: 2.1rem;
}
#Skill {
    background-color: #012970;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    height: 100vh;
}
#Skill .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}
#Skill .header .icon img{
    height: 3.9rem;
    /* border: 2px solid black; */
}
#Skill .header .text {
    /* border: 2px solid black; */
    color: white;
    font-size: 2.5rem;
    padding: 0rem 1rem;
    font-weight: bolder;
}
#Skill .header .text span {
    color: yellow;
}
#Skill .grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 70rem;
    margin: auto;
    background-color: rgb(151, 151, 151);
    border: 5rem;
}
#Skill .grid .bar {
    text-align: center;
    border: 2px solid rgb(237, 232, 232);
    padding: 1rem;
    margin: 2rem;
    width: 6.8rem;
    height: 6rem;
    background-color: rgba(0, 0, 22, 0.9);;
    border-radius: 15px;
}
#Skill .grid .bar:hover {
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 6.9rem;
    height: 6.1rem;
}
#Skill .grid .bar img {
    height: 4.5rem;
}
#Skill .grid .bar info {
    font-size: 1.5rem;
    color: white;
}
#Education {
    background-color: rgb(211, 236, 245);
    padding-bottom: 2rem;
}

#Education .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0rem;
}
#Education .header img {
    height: 3rem;
}
#Education .header .title {
    font-size: 2.5rem;
    font-weight: bolder;
}
#Education .header .title span {
    color: purple;
}
#Education .description {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
#Education .institute {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 71rem;
    margin: auto;
    background-color: white;
    margin-bottom: 2.5rem;
    box-shadow: 2px 2px 2px 2px rgb(165, 163, 163);
}
#Education .institute .image  {
    padding-right: 2rem;
}
#Education .institute .image img {
    height: 10rem;
}
#Education .institute .content p.Degree {
    font-size: 2.5rem;
    color:#012970
}
#Education .institute .content p.collegeName {
    font-size: 1.5rem;
    color: black; 
}
#Education .institute .content p.year {
    font-size: 1.5rem;
    color: green; 
    font-weight: 500;

}

#Projects {
    background-color: #012970;
    height: 50rem;
}
#Projects header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#Projects header img {
    height: 3rem;
}
#Projects header .title {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}
#Projects header .title span {
    color: yellow;
}
#Projects .projects {
    
    text-align: center;
    align-items: center;
}
#Projects .projects .cards {
    color: white;
    border: 2px solid black;
    width: 50rem;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    padding-right: 5rem;
}





