* {
    margin: 1px;
    padding: 1px;
    font-family: "Oswald", sans-serif;
    /* height: 5200px; */
}
.navbar {
    height: 5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;  
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    position : fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.logo-icon img {
    height: 6vmin;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50vmin;  

}
.logo-name {
    font-weight:bolder;
    font-size: 2rem;
}
.logo-name:hover {
    font-weight:bolder;
    font-size: 2rem;
    color: #fc8c05;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}
.nav-list ul {
    display: flex;
    list-style-type: none;  
}
.nav-list ul li {
    margin: 1rem;
    /* font-size: 1.5rem; */
}
.nav-list ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}
.nav-list ul li a:hover { 
    font-size: 1.5rem;
    color: rgb(0, 0, 255);
    text-decoration: wavy; 
}

#home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 5rem 0rem;
    border: 2px solid black;
    background-color: rgb(235, 238, 240);
}

.details {
    padding-top: 20px;
    padding: 2rem 0rem;
}

.details .intro {
    font-size: 4rem;
    color: #012970;
    font-weight: bolder;
    
}
.line2 {
    display:flex;
    font-size: 4rem;
    color: #fc8c05;
    font-weight: bolder;
}
.line3 {
    font-size: 2.5rem;
    display: flex;
    font-weight: 300; 
}
.skill {
    color : red;
}
.skill:hover {
    font-weight: bolder;
    cursor: pointer;
}
.aboutMe button {
    background-color: #012970;
    padding:  0.2rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 3px 4px  rgba(19, 78, 241, 0.3);
}
.aboutMe button a {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
.aboutMe button:hover {
    background-color: #1458cb;
}
#home .image img {
    border: 2px solid black;
    border-radius: 510px;
    height: 30rem;
}

